<h1>Search Results</h1>
<ul>
<% @facade.stations.each do |station| %>
  <li>Name: <%= station.name %></li>
  <li>Address: <%= station.name %></li>
  <li>Fuel Types: <%= station.name %></li>
  <li>Distance: <%= station.name %></li>
  <li>Access Times: <%= station.name %></li>